body {
    background-color: cadetblue;
}

.title {
    text-align: center;
    font-size: 30px;
}

.author {
    text-align: center;
}

.enterField {
    background-color: gray;
    width: 450px;
    height: 35px;
    font-size: 20px;
}

.createButton {
    background-color: gray;  
    width: 100px; 
    height: 35px;
}

.fieldDiv {
    text-align: center;
}