body {
    background-color: cadetblue;
}

html {
    text-align: center;
}

.username {
    background-color: gray;
    padding-top: 20;
}

.password {
    background-color: gray;
    padding-top: 20;
}

.registerButton {
    background-color: gray;
    width: 120x;
    height: 30px;
    margin-top: 20px;
}